.codeEditor {
    margin: 0;
    margin-top: 70px;
}
.codeEditor_topPane {
    height: calc(50vh - 40px);
}
.codeEditor_display {
    height: calc(50vh - 40px);
    position: relative;
    overflow: hidden;
    display: block;
    word-wrap: break-word;
}